#productBasketModal {
  max-height: 84vh;
  top: 100px;
}

.modal-title {
  font-size: var(--font16);
  line-height: 24px;
  text-transform: uppercase;
}

/* scrollbar */
.modal-body::-webkit-scrollbar,
.modal-body::-webkit-scrollbar-track,
.modal-body::-webkit-scrollbar-thumb {
  -o-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

.modal-body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: var(--radius8);
}

.modal-body::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 1px 4px var(--lighterGray);
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
  background: var(--lightGray);
  border-radius: var(--radius8);
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

.modal .input:last-child,
.modal input {
  margin-bottom: 0;
}

.modal-footer button {
  font-size: var(--font14);
  background-color: var(--white);
  color: var(--primaryColor);
  border-color: var(--primaryColor);
  border-radius: var(--radius4);
  outline: none;
}

.modal-footer .checkout_btn {
  background-color: var(--primaryColor);
  color: var(--white);
}

.modal-footer button:hover {
  border-color: #767676;
}

.modal-footer button:active,
.modal-footer button:focus {
  box-shadow: none;
  outline: none;
  border-color: inherit;
}

.modal .btn_close {
  font-size: var(--font16);
  font-family: var(--fontLibreFranklin);
  font-weight: 500;
  background: transparent;
  color: var(--textDark);
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: 50%;
}

.modal .btn_close:hover {
  background: var(--lightestGray);
  color: var(--secondaryColor);
}

@media screen and (max-width: 850px) {
  #productBasketModal {
    top: 45px;
  }
}

@media screen and (max-width: 575px) {
  #productBasketModal {
    top: 65px;
  }
}
