#productBasketModal {
  max-height: 84vh;
  top: 100px;
}

.accordion-item {
  border: none;
  border-radius: var(--radius2) var(--radius2) 0 0;
}

.accordion-item:not(:last-child) {
  margin-bottom: 0.875rem;
}

.accordion-header {
  margin-bottom: 0;
  border-bottom: none;
}

.modal-title {
  font-size: var(--font16);
  line-height: 24px;
  text-transform: uppercase;
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: var(--font16);
  font-weight: 600;
  background: var(--lightestGray);
  color: var(--textDark);
  border: none !important;
  line-height: 24px;
  padding: 0.375rem 0.75rem;
  text-align: left;
  cursor: pointer;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  display: none;
}

.accordion-button:hover,
.accordion-button:focus,
.accordion-button:active {
  box-shadow: none;
  outline: none;
  color: var(--primaryColor);
  background: var(--lightestGray) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--primaryColor);
}

.accordion-button .accordion-icon {
  position: relative;
}

.accordion-button .accordion-icon,
.accordion-button .accordion-icon::before {
  height: 2px;
  width: 10px;
  background: var(--textDark);
  border-radius: var(--radius2);
}

.accordion-button .accordion-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.accordion-button.collapsed .accordion-icon::before {
  -o-transition: 0.075s linear;
  -moz-transition: 0.075s linear;
  -webkit-transition: 0.075s linear;
  transition: 0.075s linear;
}

.accordion-button.collapsed .accordion-icon::before {
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.accordion-button:hover .accordion-icon,
.accordion-button:hover .accordion-icon::before,
.accordion-button:not(.collapsed) .accordion-icon,
.accordion-button:not(.collapsed) .accordion-icon::before {
  background: var(--primaryColor);
}

.accordion-body * {
  font-size: var(--font14);
}

.accordion-body {
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  overflow-y: auto;
}

.accordion-body .faq_question:not(:last-of-type) {
  margin-bottom: 1rem;
}

.accordion-body *:last-child {
  margin-bottom: 0;
}

.accordion-body h6,
.accordion-body * + * {
  margin-bottom: 0;
}

.accordion .product_item:last-of-type {
  border-bottom: none;
}

.accordion .product_image img {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.accordion .quantity_select select {
  min-width: 45px;
  min-height: 28px;
  padding: 0 0.125rem 0;
}

.accordion .quantity_select,
.delete_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

.delete_button button {
  font-size: var(--font12);
  font-weight: 500;
  background: var(--secondaryColor);
  color: var(--white);
  line-height: initial;
  padding: 0.25rem 0.65rem;
  border-radius: var(--radius4);
}

.modal-footer button {
  font-size: var(--font14);
  background-color: var(--white);
  color: var(--primaryColor);
  border-color: var(--primaryColor);
  border-radius: var(--radius4);
}

.modal-footer .checkout_btn {
  background-color: var(--primaryColor);
  color: var(--white);
}

.modal-footer button:hover {
  border-color: #767676;
}

.modal .btn_close {
  font-size: var(--font16);
  font-family: var(--fontLibreFranklin);
  font-weight: 500;
  background: transparent;
  color: var(--textDark);
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: 50%;
}

.modal .btn_close:hover {
  background: var(--lightestGray);
  color: var(--secondaryColor);
}

@media screen and (max-width: 850px) {
  #productBasketModal {
    top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .accordion .quantity_select,
  .delete_button {
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .accordion .product_image img {
    max-height: 120px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 575px) {
  #productBasketModal {
    top: 65px;
  }
}
